/* Layer2: Additional States */
/* :hover, :active, :visited, :focus styles */
summary:hover,
a:active,
a:visited,
a:focus,
details[open] summary {
  /* Define your styles for :hover, :active, :visited, and :focus here */
  text-decoration: underline;
  color: var(--colors.light.text);
  /* Example color for active, visited, and focus states */
  background-color: var(--colors.dark.bg);
  /* Example background color for active, visited, and focus states */
}

/* End of Layer2 */