/* 🐲 TESTS */
@layer tests {
  /* Style warning block */
  .no-support {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #ff002b;
    display: block;
  }

  /* Hide warning block in case :has() support is detected */
  @supports selector(:has(*)) {
    .no-support {
      display: none;
    }
  }
}
