/* 🐲 CONTAINED COMPONENTS */
@layer components {
  hr {
    height: 0;
    margin-block: calc(var(--spaceTB) * 3);
    margin-inline: 0;
    border: 0;
    border-top: 1px solid currentColor;
  }

  /* BUTTON OUTLINED BY DEFAULT, .FULL FOR CLASSIC BUTTON LOOK */
  button {
    margin: 0;
    overflow: visible;
    font-family: inherit;
    text-transform: none;
  }

  button,
  [type='submit'],
  [type='reset'],
  [type='button'] {
    -webkit-appearance: button;
  }

  button,
  [type='submit'],
  [type='reset'],
  [type='button'],
  [type='file']::file-selector-button,
  [role='button'] {
    --box-shadow: var(--box-shadow), 0 0 0 var(--curCOLa);
    padding: calc(var(--spaceTB) / 2) var(--spaceLR);
    border: var(--borderS) solid var(--curTXT);
    border-radius: var(--rad);
    outline: none;
    color: var(--curTXT);
    box-shadow: var(--box-shadow);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--lineH);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: background-color var(--transition),
      border-color var(--transition),
      color var(--transition), box-shadow var(--transition);
  }

  button:is([aria-current], :hover, :active, :focus),
  [type='submit']:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [type='reset']:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [type='button']:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [type='file']::file-selector-button:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [role='button']:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ) {
    /* --background-color: var(--curBG);
    --box-shadow: var(--box-shadow, 0 0 0 var(--curTXT));
    color: var(--curCOLa); */
    opacity: 0.9;
  }

  button:focus,
  [type='submit']:focus,
  [type='reset']:focus,
  [type='button']:focus,
  [type='file']::file-selector-button:focus,
  [role='button']:focus {
    --box-shadow: var(--box-shadow, 0 0 0 var(--curCOLa)),
      0 0 0 var(--outline-width) var(--curCOLa);
  }

  [type='submit'],
  [type='reset'],
  [type='button'] {
    margin-block-end: var(--spaceTB);
  }

  /* .secondary */
  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).secondary,
  [type='reset'],
  [type='file']::file-selector-button {
    --transparent: 75%;
    background-color: color-mix(
      in srgb,
      currentColor,
      transparent var(--transparent)
    );
    color: var(--spaceTB);
    cursor: pointer;
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).secondary:is([aria-current], :hover, :active, :focus),
  [type='reset']:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [type='file']::file-selector-button:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ) {
    --curCOLa: var(--curCOLa);
    --background-color: var(--curBG);
    color: var(--curTXT);
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).secondary:focus,
  [type='reset']:focus,
  [type='file']::file-selector-button:focus {
    --box-shadow: var(--box-shadow, 0 0 0 var(--curCOLa)),
      0 0 0 var(--outline-width) var(--curCOLa);
  }

  /* .pop */
  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).pop {
    --background-color: var(--curTXT);
    --curCOLa: var(--curBG);
    --borderS: clamp(2px, 0.25svw, 4px);
    --color: var(--curBG);
    text-transform: uppercase;
    font-weight: 500;
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).pop:is([aria-current], :hover, :active, :focus) {
    opacity: 0.9;
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).pop:focus {
    --box-shadow: var(--box-shadow, 0 0 0 var(--curCOLa)),
      0 0 0 var(--outline-width) var(--curCOLa);
  }

  /* .full */
  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full,
  [type='reset'].full {
    border: var(--borderS) solid currentColor;
    background-color: var(--curTXT);
    color: var(--curBG);
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full:is([aria-current], :hover, :active, :focus),
  [type='reset'].full:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ) {
    opacity: 0.9;
  }

  /* .full.secondary */
  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full.secondary,
  [type='reset'].full {
    border: var(--borderS) solid currentColor;
    color: var(--curBG);
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full.secondary:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ),
  [type='reset'].full:is(
      [aria-current],
      :hover,
      :active,
      :focus
    ) {
    opacity: 0.9;
  }

  /* .full.pop */
  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full.pop {
    border: var(--borderS) solid currentColor;
    background-color: var(--curTXT);
    color: var(--curBG);
  }

  :is(
      button,
      [type='submit'],
      [type='button'],
      [role='button']
    ).full.pop:is([aria-current], :hover, :active, :focus) {
    opacity: 0.9;
  }

  :where(
      button,
      [type='submit'],
      [type='reset'],
      [type='button'],
      [role='button']
    )[disabled],
  :where(fieldset[disabled])
    :is(
      button,
      [type='submit'],
      [type='button'],
      [type='reset'],
      [role='button']
    ) {
    opacity: 0.5;
    pointer-events: none;
  }

  /* ACCORDION */
  /* USE: <details> and <summary> */

  details {
    display: block;
    padding-block: var(--spaceTB);
    list-style: none;
    border-top: var(--borderS) solid currentColor;
  }
  details:last-child {
    border-bottom: var(--borderS) solid currentColor;
  }

  summary {
    line-height: 2;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);
    /* display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not([role]) {
      color: var(--curTXT);
    }

    /* EXPOSE STATUS TO DOM: Closed */
    .status::after {
      display: inline;
      content: 'Closed';
    }
    /* this maybe not needed since it's display:block; */
    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    &:focus {
      outline: none;
    }

    & [role='button'] {
      width: 100%;
      text-align: left;

      &::after {
        height: calc(1rem * var(--lineH));
      }
    }
  }

  /* INDICATOR ARROW */
  summary::-webkit-details-marker {
    display: none;
  }

  details[open] > summary {
    /* margin-block-end: var(--spaceTB); */
    position: -webkit-sticky !important;
    /* Safari */
    position: sticky;
    /* border-bottom: var(--borderS) solid currentColor; */
    background-color: var(--curBG);
    top: 0;

    /* EXPOSE STATUS TO DOM: Open  */
    .status::after {
      display: inline;
      content: 'Open';
    }
  }

  details > summary::after {
    --iconSize: 2ch;
    content: '';
    display: block;
    width: var(--iconSize);
    height: var(--iconSize);
    -webkit-margin-start: calc(var(--spaceTB) * 0.5);
    margin-inline-start: calc(var(--spaceTB) * 0.5);
    /* float: right; */
    background-position: center;
    background-size: var(--iconSize) auto;
    background-repeat: no-repeat;
    background-image: var(--curPlus);
    justify-self: flex-end;
    /* transition: transform var(--transition);
    transform: rotate(0); */
  }

  details > summary::after {
    transform: rotate(0deg);
  }

  details[open] > summary::after {
    background-image: var(--curMinus);
    /* transform: rotate(180deg); */
  }

  details[open] > summary:not([role]):not(:focus) {
    color: var(--curTXT);
  }

  /* HEADINGS, P, SPAN */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    --spaceTB: 0.5ch;
    padding: var(--spaceTB) 0;
  }

  h1 {
    font-size: calc(var(--font-size) * 2.25);
  }

  h2 {
    font-size: calc(var(--font-size) * 1.65);
  }

  h3 {
    font-size: calc(var(--font-size) * 1.5);
  }

  h4 {
    font-size: calc(var(--font-size) * 1.25);
  }

  h5 {
    font-size: calc(var(--font-size) * 1.15);
  }

  h6 {
    /* font-size: calc(var(--font-size) * 1.1); */
  }

  /* LIST */
  ul,
  ol {
    list-style-type: none;
    /* li {
    padding: calc(var(--spaceTB) / 2) 0;
  } */
  }

  /* CARD */
  /* USE: <article> */

  article {
    display: grid;
    gap: var(--gap);
    grid-row: span 3;
    height: fit-content;

    .grid & {
      margin-block: 0;
      margin-inline: 0;
    }

    &:not(:has(header)) {
      padding-top: var(--spaceTB);
    }

    &:not(:has(footer)) {
      padding-bottom: var(--spaceTB);
    }

    > * {
      text-align: center;
      margin-block: 0;
      alignment-baseline: text-before-edge;
    }

    > img {
      justify-self: start;
    }

    header {
      width: 100%;
      padding-block: var(--spaceTB);
      padding-inline: 0;
      background-color: color-mix(
        in srgb,
        currentColor,
        transparent 90%
      );
      padding-block-start: calc(var(--spaceTB) * 2);
    }

    footer {
      width: 100%;
      padding-block: var(--spaceTB);
      padding-inline: 0;
      background-color: color-mix(
        in srgb,
        currentColor,
        transparent 90%
      );
      padding-block-end: calc(var(--spaceTB) * 2);
      align-self: end;
    }
  }

  article:not(:only-child) {
    margin-block: var(--spaceTB);
    /* margin-inline: var(--spaceLR); */
  }

  /*!
    * WHEN <article> IS USED TO CENTER CONTENT
    * SAY INSIDE A <section>, IT WILL HAVE NO VERTICAL PADDING.
    */
  article:only-child {
    margin-block: 0;
    margin-inline: 0;
  }

  article:has(> img:first-child) {
    padding-block-start: 0;
  }
}
