// B&W
$black: rgba(0, 0, 0, 0.912);
$white: rgba(255, 255, 255, 0.927);
// $limeOKLCH: oklch(77.81% 0.261 145.69); //
$lime: rgba(0, 219, 69, 0.5);
// $limeRGB: rgb(0, 220, 70);

$colors: rgba(131, 131, 131, 0);
