/* Main */
main {
  padding: var(--spacing);
  margin: 0 10vw;
  /* 10% of viewport width on each side */

  /* Section */
  section {
    margin-bottom: calc(var(--spacing) * 2);
    padding: var(--spacing);
    background-color: var(--color-text);
    /* Inverted color */
    border: 1px solid var(--color-bg);
    /* Inverted color */
    box-shadow: 0 0 5px var(--color-bg);
    /* Hard and opaque box shadow */
  }

  /* Navigation */
  nav {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: calc(var(--spacing) / 2) 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
      margin-right: var(--spacing);
    }
  }

  /* Links */
  a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Small Element */
  small {
    font-size: 0.85rem;
  }

  /* Figure Element */
  figure {
    margin: 0;
    padding: 0;

    /* Figcaption Element */
    figcaption {
      font-style: italic;
    }
  }

  /* Form Element */
  form {
    /* Style for form and its sub-elements goes here */
    margin: 0;
    padding: 0;
  }
}