body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  /* Base font size */
  background-color: var(--colors[var(--color-mode)].bg);
  color: var(--colors[var(--color-mode)].text);
  font-size: var(--body-font-size, 1rem);
  /* Use a CSS variable for font size */
}