@use "sass:map";
@use "../../colors" as *;
@use "../../settings" as *;
@use "../../utils/box-shadow";
@use "../../utils/functions";

// Default: Light theme
@mixin theme {
  #{$✨}background-color: #{$white};

  // Text color
  #{$✨}color: #{$lime};

  // Text selection color
  #{$✨}text-selection-color: #{rgba($lime, 0.25)};

  // Muted colors
  #{$✨}muted-color: #{$lime};
  #{$✨}muted-border-color: #{mix($lime, $white)};

  // Primary colors
  #{$✨}primary: #{$lime};
  #{$✨}primary-background: #{$lime};
  #{$✨}primary-border: var(#{$✨}primary-background);
  #{$✨}primary-underline: #{rgba($lime, 0.5)};
  #{$✨}primary-hover: #{$lime};
  #{$✨}primary-hover-background: #{$lime};
  #{$✨}primary-hover-border: var(#{$✨}primary-hover-background);
  #{$✨}primary-hover-underline: var(#{$✨}primary-hover);
  #{$✨}primary-focus: #{rgba($lime, 0.5)};
  #{$✨}primary-inverse: #{$white};

  // Secondary colors
  #{$✨}secondary: #{$lime};
  #{$✨}secondary-background: #{$lime};
  #{$✨}secondary-border: var(#{$✨}secondary-background);
  #{$✨}secondary-underline: #{rgba($lime, 0.5)};
  #{$✨}secondary-hover: #{$lime};
  #{$✨}secondary-hover-background: #{$lime};
  #{$✨}secondary-hover-border: var(#{$✨}secondary-hover-background);
  #{$✨}secondary-hover-underline: var(#{$✨}secondary-hover);
  #{$✨}secondary-focus: #{rgba($lime, 0.25)};
  #{$✨}secondary-inverse: #{$white};

  // Contrast colors
  #{$✨}contrast: #{$lime};
  #{$✨}contrast-background: #{$lime};
  #{$✨}contrast-border: var(#{$✨}contrast-background);
  #{$✨}contrast-underline: #{rgba($lime, 0.5)};
  #{$✨}contrast-hover: #{$black};
  #{$✨}contrast-hover-background: #{$black};
  #{$✨}contrast-hover-border: var(#{$✨}contrast-hover-background);
  #{$✨}contrast-hover-underline: var(#{$✨}secondary-hover);
  #{$✨}contrast-focus: #{rgba($lime, 0.25)};
  #{$✨}contrast-inverse: #{$white};

  // Box shadow
  #{$✨}box-shadow: box-shadow.shadow($white);

  // Typography
  @if map.get($modules, "components/typography") {
    // Headings colors
    #{$✨}h1-color: #{$lime};
    #{$✨}h2-color: #{$lime};
    #{$✨}h3-color: #{$lime};
    #{$✨}h4-color: #{$lime};
    #{$✨}h5-color: #{$lime};
    #{$✨}h6-color: #{$lime};

    // Highlighted text (<mark>)
    #{$✨}mark-background-color: #{mix($lime, $lime)};
    #{$✨}mark-color: #{$lime};

    // Inserted (<ins>) & Deleted (<del>)
    #{$✨}ins-color: #{mix($lime, $lime)};
    #{$✨}del-color: #{mix($lime, $lime)};

    // Blockquote
    #{$✨}blockquote-border-color: var(#{$✨}muted-border-color);
    #{$✨}blockquote-footer-color: var(#{$✨}muted-color);
  }

  // Button
  @if map.get($modules, "components/button") {
    // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
    // Don't use, 'none, 'false, 'null', '0', etc.
    #{$✨}button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    #{$✨}button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  // Table
  @if map.get($modules, "components/table") {
    #{$✨}table-border-color: var(#{$✨}muted-border-color);
    #{$✨}table-row-stripped-background-color: #{rgba($lime, 0.0375)};
  }

  // Code
  @if map.get($modules, "components/code") {
    #{$✨}code-background-color: #{mix($white, $white, 75%)};
    #{$✨}code-color: #{$lime};
    #{$✨}code-kbd-background-color: var(#{$✨}color);
    #{$✨}code-kbd-color: var(#{$✨}background-color);
  }

  // Form elements
  @if map.get($modules, "forms/basics") {
    #{$✨}form-element-background-color: #{mix($white, $white, 25%)};
    #{$✨}form-element-selected-background-color: #{$lime};
    #{$✨}form-element-border-color: #{$lime};
    #{$✨}form-element-color: #{$lime};
    #{$✨}form-element-placeholder-color: var(#{$✨}muted-color);
    #{$✨}form-element-active-background-color: #{$white};
    #{$✨}form-element-active-border-color: var(#{$✨}primary-border);
    #{$✨}form-element-focus-color: var(#{$✨}primary-border);
    #{$✨}form-element-disabled-background-color: var(
      #{$✨}form-element-background-color
    );
    #{$✨}form-element-disabled-border-color: var(
      #{$✨}form-element-border-color
    );
    #{$✨}form-element-disabled-opacity: 0.5;
    #{$✨}form-element-invalid-border-color: #{mix($lime, $lime)};
    #{$✨}form-element-invalid-active-border-color: #{mix($lime, $lime, 75%)};
    #{$✨}form-element-invalid-focus-color: var(
      #{$✨}form-element-invalid-active-border-color
    );
    #{$✨}form-element-valid-border-color: #{mix($lime, $lime)};
    #{$✨}form-element-valid-active-border-color: #{mix($lime, $lime, 75%)};
    #{$✨}form-element-valid-focus-color: var(
      #{$✨}form-element-valid-active-border-color
    );

    // Focus for buttons, radio and select
    input:is(
        [type="submit"],
        [type="button"],
        [type="reset"],
        [type="checkbox"],
        [type="radio"],
        [type="file"]
      ) {
      #{$✨}form-element-focus-color: var(#{$✨}primary-focus);
    }
  }

  // Switch (input[type="checkbox"][role="switch"])
  @if map.get($modules, "forms/checkbox-radio-switch") {
    #{$✨}switch-background-color: #{$lime};
    #{$✨}switch-color: var(#{$✨}primary-inverse);
    #{$✨}switch-checked-background-color: var(#{$✨}primary-background);
  }

  // Range (input[type="range"])
  @if map.get($modules, "forms/input-range") {
    #{$✨}range-border-color: #{$lime};
    #{$✨}range-active-border-color: #{$lime};
    #{$✨}range-thumb-border-color: var(#{$✨}background-color);
    #{$✨}range-thumb-color: var(#{$✨}secondary-background);
    #{$✨}range-thumb-active-color: var(#{$✨}primary-background);
  }

  // Accordion (<details>)
  @if map.get($modules, "components/accordion") {
    #{$✨}accordion-border-color: var(#{$✨}muted-border-color);
    #{$✨}accordion-active-summary-color: var(#{$✨}primary-hover);
    #{$✨}accordion-close-summary-color: var(#{$✨}color);
    #{$✨}accordion-open-summary-color: var(#{$✨}muted-color);
  }

  // Card (<article>)
  @if map.get($modules, "components/card") {
    #{$✨}card-background-color: var(#{$✨}background-color);
    #{$✨}card-border-color: var(#{$✨}muted-border-color);
    #{$✨}card-box-shadow: var(#{$✨}box-shadow);
    #{$✨}card-sectioning-background-color: #{mix($white, $white, 25%)};
  }

  // Dropdown (details.dropdown)
  @if map.get($modules, "components/dropdown") and $enable-classes {
    #{$✨}dropdown-background-color: #{$white};
    #{$✨}dropdown-border-color: #{$white};
    #{$✨}dropdown-box-shadow: var(#{$✨}box-shadow);
    #{$✨}dropdown-color: var(#{$✨}color);
    #{$✨}dropdown-hover-background-color: #{$white};
  }

  // Loading ([aria-busy=true])
  @if map.get($modules, "components/loading") {
    #{$✨}loading-spinner-opacity: 0.5;
  }

  // Modal (<dialog>)
  @if map.get($modules, "components/modal") {
    #{$✨}modal-overlay-background-color: #{rgba(mix($lime, $lime), 0.75)};
  }

  // Progress
  @if map.get($modules, "components/progress") {
    #{$✨}progress-background-color: #{$lime};
    #{$✨}progress-color: var(#{$✨}primary-background);
  }

  // Tooltip ([data-tooltip])
  @if map.get($modules, "components/tooltip") {
    #{$✨}tooltip-background-color: var(#{$✨}contrast-background);
    #{$✨}tooltip-color: var(#{$✨}contrast-inverse);
  }

  // Form validation icons
  @if map.get($modules, "forms/basics") {
    #{$✨}icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{functions.display-rgb(mix($lime, $lime))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    #{$✨}icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{functions.display-rgb(mix($lime, $lime))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  }

  // Document
  color-scheme: light;
}
