@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "components/card") {
  /**
   * Card (<article>)
   */

  article {
    margin-bottom: var(#{$✨}spacing);
    padding: var(#{$✨}spacing) var(#{$✨}block-spacing);
    border-radius: var(#{$✨}border-radius);
    background: var(#{$✨}card-background-color);
    box-shadow: var(#{$✨}card-box-shadow);

    > header,
    > footer {
      margin-right: calc(var(#{$✨}block-spacing) * -1);
      margin-left: calc(var(#{$✨}block-spacing) * -1);
      padding: calc(var(#{$✨}spacing) * 0.66) var(#{$✨}block-spacing);
      background-color: var(#{$✨}card-sectioning-background-color);
    }

    > header {
      margin-top: calc(var(#{$✨}spacing) * -1);
      margin-bottom: var(#{$✨}spacing);
      border-bottom: var(#{$✨}border-width) solid var(#{$✨}card-border-color);
      border-top-right-radius: var(#{$✨}border-radius);
      border-top-left-radius: var(#{$✨}border-radius);
    }

    > footer {
      margin-top: var(#{$✨}spacing);
      margin-bottom: calc(var(#{$✨}spacing) * -1);
      border-top: var(#{$✨}border-width) solid var(#{$✨}card-border-color);
      border-bottom-right-radius: var(#{$✨}border-radius);
      border-bottom-left-radius: var(#{$✨}border-radius);
    }
  }
}
